:root{
    --color-primary: #017cb8;
    --color-secondary: #e6e6e6;
    --color-final: #070606;
}


/** Header **/
.top-head{
    background-color: #222222;
}

/** Datos-top **/
.datos-top ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.datos-top ul li{
    position: relative;
    display: inline-block;
}

.datos-top ul li i {
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0.6rem 0.5rem;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
    font-size: 0.7rem;
    color: #017cb8;
}

.datos-top ul li .datos-top_text{
    color: #ffffff;
    font-size: 0.6rem;
    padding-right: 0.3rem;
}

/** Social-top **/
.social-top ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-top ul li{
    position: relative;
    display: inline-block;
}

.social-top ul li a::before{
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0.3rem;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
    font-size: 1.3rem;
    color: #017cb8;
}

.social-top ul li a[href*="facebook.com"]::before{
    content: '\f230';
}

.social-top ul li a[href*="linkedin.com"]::before{
    content: '\f08c';
}

.social-top ul li a[href*="web.whatsapp.com"]::before{
    content: '\f232';
}

@media (max-width:992px){
    .top-head{
        display: none;
    }
}

/** NAV **/
.logo-nav{
    width: 150px;
    height:80px;
}

.bg-success-barra{
    background-color: #fff;
}

@media (max-width: 991px){
    .barra.bg-success-barra{
        background-color: #017cb8;
    }
    
    .header-nav-slider{
        position: relative;
    }

}

.nav-link{
    color: #000 !important;
}

.text-logo{
    color: #000;
    padding-top:10px;
}

/** Nosotros **/

.nosotros{
    padding: 90px 0;
}

.sec-title h2 span{
    color: #017cb8;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.nosotros-text p{
    text-transform: capitalize;
    color: #8e8e8e;
    margin-top: 0px;
}

.icon-lf{
    width:50px;
    height:50px;
    border-radius: 5px;
    background-color: #017cb8;
    text-align: center;
}

.icon-lf i{
    color:#fff;
    font-size:35px;
    line-height: 50px;
    text-align: center;
}

.right-text{
    width: calc(100% - 60px);
    margin-left: 10px;
}

.right-text h4{
    margin-bottom: 0px;

    margin-top: 0px;
    text-transform: uppercase;
    font-size: 20px;
}

.right-text p{
    
    color: #8e8e8e;
    margin: 0px;
    font-size: 18px;;
}

.about-us img{
    width: 100%;
}